<nav class="navbar navbar-expand-lg bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand text-white" href="{{path('app_accueil')}}">Green village</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav  mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" href="{{path('app_accueil')}}">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('app_categorie')}}">Catégories</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_souscat')}}">Produits</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{{path('app_categorie')}}">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{{path('app_produits')}}">Produits</a>
				</li>
			</ul>
			<form class="d-flex mx-auto" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-success" type="submit">Search</button>

			</form>
			<ul class="navbar-nav  mb-2 mb-lg-0">
				<li class="nav-item me-3 me-lg-0 dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-fill" viewbox="0 0 16 16">
							<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
						</svg>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if not app.user %}
							<li>
								<a class="dropdown-item" href={{path('app_register')}}>Inscription</a>
							</li>
							<li>
								<a class="dropdown-item" href={{path('app_login')}}>Connexion</a>
							</li>
						{% else %}
							<li class="text-center h-6 text-muted">
								<h5>
									Bienvenue
								</h5>
								<h6>
									@{{ app.user.prenom }}
									{{ app.user.nom }}
								</h6>
							</li>
							
							<li>
								<a class="dropdown-item" href="/commande">Commande</a>
							</li>

							<li><hr class="dropdown-divider"/></li>
							<li>
								<a class="dropdown-item text-danger" href="/logout">Deconnexion</a>
							</li>
						{% endif %}
					</ul>
				</li>
			</ul>

			<a href="{{path ('app_panier')}}">
				<div class="me-5 text-dark position-relative">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart me-5" viewbox="0 0 16 16">
						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
					{% if app.session.get("panier")|length > 0 %}
						<span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
							{{ app.session.get("panier")|length }}
						</span>
					{% endif %}
				</div>
			</a>
		</div>
	</div>
</nav>
