{% extends 'base.html.twig' %}

{% block title %}Historique commande
{% endblock %}

{% block body %}


	<div class="accordion" id="accordionPanelsStayOpenExample">
		{% for index, commande in app.user.commandes %}

			{% set somme = 0 %}

			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingOne">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-{{index}}" aria-expanded="true" aria-controls="panelsStayOpen-{{index}}">
						Commande du
						{{ commande.dateCommande|date("d/m/Y") }}
					</button>
				</h2>
				<div id="panelsStayOpen-{{index}}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
					<div class="accordion-body">
						<div class="row">
							<div class="col-6">
								<label>Nom:</label>
								<input class="form-control" type="text" value="{{ commande.nom }}" disabled>
							</div>
							<div class="col-6">
								<label>Prénom:</label>
								<input class="form-control" type="text" value="{{ commande.prenom }}" disabled>
							</div>
							<div class="col-6">
								<label>Téléphone:</label>
								<input class="form-control" type="text" value="{{ commande.telephone }}" disabled>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-6">
								<label>Adresse de livraison:</label>
								<input class="form-control" type="text" value="{{ commande.adresseLivraison }}" disabled>
							</div>
							<div class="col-6">
								<label>Adresse de facturation:</label>
								<input class="form-control" type="text" value="{{ commande.adresseFacturation }}" disabled>
							</div>
						</div>
						<h2>Produits</h2>
						<div class="row">
							<div class="col-6">
								<label>Produit:</label>
							</div>
							<div class="col-6">
								<label>Quantité:</label>
							</div>

						</div>
						{% for detailCommande in commande.detailsCommande %}
							<div class="row mb-2">
								<div class="col-6">
									<input class="form-control" type="text" value="{{ detailCommande.Produit.name }}" disabled>
								</div>
								<div class="col-6">
									<input class="form-control" type="text" value="{{ detailCommande.quantite }}" disabled>
								</div>
							</div>

							{% set somme = somme + ((detailCommande.Produit.prix * detailCommande.quantite) * 1.2)  %}
						{% endfor %}

						<h2 class="text-center mt-5">Total:
							{{ somme }}€</h2>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>

{% endblock %}
