{% extends 'base.html.twig' %}

{% block title %}Hello Produit
{% endblock %}

{% block body %}

	<div class="container">
		<div
			class="row">
			{#	{% for produit in produit %}
			
			            
							<div>
										{{produit.name}}
										{{produit.description}}
										{{produit.prix}}
							
										<div class="col-4">
											<a href="{{path('app_produit', {categorie : produit.id }) }}">
												<img class="img-fluid" src="https://picsum.photos/300/200">
												<div class="text-center">
													{{ produit.name }}
												</div>
											</a>
										</div>  
							
							                <div class="card-deck col-12 col-sm-6 col-md-4 col-lg-3 " >
							                    <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
							                    <div class="card-body">
							                        <h5 class="card-title">{{produit.name}}</h5>
							                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							                    </div>
							                    <ul class="list-group list-group-flush">
							                        <li class="list-group-item">{{produit.description}}</li>
							                        <li class="list-group-item">{{produit.prix|format_currency('EUR', locale='fr' )}}</li>
							                    </ul>
							                    <div class="card-body">
							                        <a href="#" class="card-link">Card link</a>
							                        <a href="#" class="card-link">Another link</a>
							                    </div>
							                </div>  #}

			<div>
				{{produit.name}}
				{{produit.description}}
				{{produit.prix}}
			</div>

			<section class="py-5">
				<div class="container px-4 px-lg-5 my-5">
					<div class="row gx-4 gx-lg-5 align-items-center">
						<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://picsum.photos/600/700" alt="..."/></div>
						<div class="col-md-6">
							<div class="small mb-1">SKU: BST-498</div>
							<h1 class="display-5 fw-bolder">{{produit.name}}</h1>
							<div class="fs-5 mb-5">
								<span class="text-decoration-line-through">600.00 €</span>
								<span>{{produit.prix|format_currency('EUR', locale='fr' )}}</span>
							</div>
							<p class="lead">{{produit.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
							<div class="d-flex">
								<input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem"/>
									<a class="btn btn-outline-dark mt-auto" href="{{path ('app_add_panier' ,{'id': produit.id})}}">Ajouter</a>
									<a class="btn btn-outline-dark mt-auto" href="{{path ('app_add_panier2',{'id': produit.id})}}">Panier2</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Related items section-->
			<section class="py-5 bg-light">
				<div class="container px-4 px-lg-5 mt-5">
					<h2 class="fw-bolder mb-4">Related products</h2>
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5">
							<div
								class="card h-100">
								<!-- Product image-->
								<img
								class="card-img-top" src="https://picsum.photos/450/300" alt="..."/>
								<!-- Product details-->
								<div class="card-body p-4">
									<div
										class="text-center">
										<!-- Product name-->
										<h5 class="fw-bolder">Fancy Product</h5>
										<!-- Product price-->
										$40.00 - $80.00
									</div>
								</div>
								<!-- Product actions-->
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="#">View options</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div
								class="card h-100">
								<!-- Sale badge-->
								<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
								<!-- Product image-->
								<img
								class="card-img-top" src="https://picsum.photos/450/300" alt="..."/>
								<!-- Product details-->
								<div class="card-body p-4">
									<div
										class="text-center">
										<!-- Product name-->
										<h5 class="fw-bolder">Special Item</h5>
										<!-- Product reviews-->
										<div class="d-flex justify-content-center small text-warning mb-2">
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
										</div>
										<!-- Product price-->
										<span class="text-muted text-decoration-line-through">$20.00</span>
										$18.00
									</div>
								</div>
								<!-- Product actions-->
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div
								class="card h-100">
								<!-- Sale badge-->
								<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
								<!-- Product image-->
								<img
								class="card-img-top" src="https://picsum.photos/450/300" alt="..."/>
								<!-- Product details-->
								<div class="card-body p-4">
									<div
										class="text-center">
										<!-- Product name-->
										<h5 class="fw-bolder">Sale Item</h5>
										<!-- Product price-->
										<span class="text-muted text-decoration-line-through">$50.00</span>
										$25.00
									</div>
								</div>
								<!-- Product actions-->
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div
								class="card h-100">
								<!-- Product image-->
								<img
								class="card-img-top" src="https://picsum.photos/450/300" alt="..."/>
								<!-- Product details-->
								<div class="card-body p-4">
									<div
										class="text-center">
										<!-- Product name-->
										<h5 class="fw-bolder">Popular Item</h5>
										<!-- Product reviews-->
										<div class="d-flex justify-content-center small text-warning mb-2">
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
										</div>
										<!-- Product price-->
										$40.00
									</div>
								</div>
								<!-- Product actions-->
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="{{path ('app_add_panier' ,{'id': produit.id})}}">Ajouter</a>
										<a class="btn btn-outline-dark mt-auto" href="{{path ('app_add_panier2' ,{'id': produit.id})}}">Panier2</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			{#	{% endfor %}  #}
		</div>
	</div>

{% endblock %}
